<div ng-controller="loginCtrl" ng-init="getEachGroundDetails()">
    <p>
        <!--This is ground page-->
        Title: {{eachGroundData.title}}<br>
        Description: {{eachGroundData.description}}<br>
        Venue: {{eachGroundData.venue.address}}<br>
        City:{{eachGroundData.venue.city}}<br>
        Categories:{{eachGroundData.categories}}
    </p>
    <div>
        <select ng-model="selectedTitle" ng-change="jobChange()">
            <option ng-repeat="title in jobTitle">{{title}}</option>
        </select>

        <select ng-model="selectedName">
            <option ng-repeat="name in results">{{name.name}}</option>
        </select>

    </div>

    <div>
        <select>

        </select>
    </div>

</div>
<div ng-controller="loginCtrl as ctrl">
    <form name="uploadFileForm">
        <label>Insert File Here:</label>
        <input type="file" ngf-select ng-model="myFile" name="file"><br>
        <button ng-click="uploadFile()">Submit</button>
    </form>
    <br>
    <input class="form-control"
           ng-model="ctrl.input"
           ng-model-options="{ updateOn: 'blur' }"
           placeholder="Select a date..."
           moment-picker="ctrl.input"
           min-date="ctrl.minDate"
           max-date="ctrl.maxDate"
    >
    <br>
</div>

<input type="text" ng-model="model.tel" ng-intl-tel-input data-initial-country="gb">












<!--<div ng-controller="dataTableCtrl">-->

<!--<table cellpadding="3" cellspacing="0" border="0" style="width: 67%; margin: 0 auto 2em auto;">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Search text</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr id="filter_col1" data-column="0">-->
<!--<td>Column - Name</td>-->
<!--<td align="center"><input type="text" class="column_filter" id="col0_filter"></td>-->
<!--<td align="center"><input type="checkbox" class="column_filter" id="col0_regex"></td>-->
<!--<td align="center"><input type="checkbox" class="column_filter" id="col0_smart" checked="checked"></td>-->
<!--</tr>-->
<!--<tr id="filter_col2" data-column="1">-->
<!--<td>Column - Age</td>-->
<!--<td align="center"><input type="text" class="column_filter" id="col1_filter"></td>-->
<!--<td align="center"><input type="checkbox" class="column_filter" id="col1_regex"></td>-->
<!--<td align="center"><input type="checkbox" class="column_filter" id="col1_smart" checked="checked"></td>-->
<!--</tr>-->
<!--<tr id="filter_col3" data-column="2">-->
<!--<td>Column - Test</td>-->
<!--<td align="center"><input type="text" class="column_filter" id="col2_filter"></td>-->
<!--<td align="center"><input type="checkbox" class="column_filter" id="col2_regex"></td>-->
<!--<td align="center"><input type="checkbox" class="column_filter" id="col2_smart" checked="checked"></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--<table id="example" class="display responsive nowrap" cellspacing="0" width="100%">-->

<!--<thead>-->
<!--<tr>-->
<!--<th>Name</th>-->
<!--<th>Age</th>-->
<!--<th>test</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat='item in items'>-->
<!--<td>{{item.name}}</td>-->
<!--<td>{{item.age}}</td>-->
<!--<td>-->
<!--{{item.testField}}-->
<!--</td>-->
<!--</tr>></tbody>-->
<!--</table>-->
<!--</div>-->

<!--
AIzaSyA8rndJ_Sd8fe90JnWxmZrFZJNyKpFe02Y
-->