<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
    <!--<form action="/login" method="post">-->
        <!--<br><label>User Name: </label>-->
        <!--<input type="text" name="uname">-->
        <!--<br><label> Password:</label>-->
        <!--<input type="password" name="password">-->
        <!--<br>-->
        <!--<input type="submit" value="Submit">-->
    <!--</form>-->
<!--</body>-->
<!--</html>-->

<html>
<head>
    <title>AngularJS First Application</title>
    <base href="">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!--<link href="/components/intl-tel-input/build/img/flags.png">-->
    <link rel="stylesheet" type="text/css" href="/Users/Sneha/Desktop/dev/demo/First/node_modules/intl-tel-input/src/css/intlTelInput.scss">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <!--<script type="text/javascript" src="/Users/Sneha/Desktop/dev/demo/First/node_modules/intl-tel-input/src/js/intlTelInput.js"></script>-->
    <!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>-->

</head>

<body ng-app = "firstAngularApp">
    <div ng-view></div>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="/components/ng-file-upload/ng-file-upload.js"></script>
    <!--client/components/underscore/underscore-min.js-->
    <script type="text/javascript" src="/components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/routes/routes.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link href="/components/bootstrap-star-rating/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/controllers/loginController.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script type="text/javascript" src="/components/intl-tel-input/build/js/intlTelInput.js"></script>
    <script type="text/javascript" src="/components/international-phone-number/releases/international-phone-number.js"></script>
    <script type="text/javascript" src="/components/ng-intl-tel-input/dist/ng-intl-tel-input.js"></script>
    <script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
    <link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">
</body>
</html>